/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$font-size-base: 2rem;

$primary-color: #7ed56f;

$color-primary: #0284c7;
$color-primary-light: #38bdf8;
$color-primary-dark: #075985;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f5f0f0;

$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font sizes

$default-font-size: 1.6rem;
