@use "../abstracts/variables";
@use "../components/button";
@use "../utils/utils";
@use "../base/typography";

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
  padding: 2rem;
  transition: background-color 0.3s ease; // Adaugă dacă fundalul se schimbă
}

.card {
  perspective: 150rem;
  height: 40rem;
  position: relative; // Adaugă pentru a poziționa absolut părțile cardului

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease, background-color 0.3s ease, color 0.3s ease; // Adaugă tranziția pentru background și color
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &--front {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &--back {
      transform: rotateY(180deg);

      // Stiluri comune pentru partea din spate
      display: flex;
      align-items: center;
      justify-content: center;

      &--light {
        background-color: variables.$color-white;
        color: rgba(variables.$color-black, 0.6);
      }
      &--dark {
        background-color: rgba(variables.$color-grey-dark-2, 0.9);
        color: variables.$color-grey-light-1;
      }
    }
  }

  &:hover {
    .card__side--front {
      transform: rotateY(-180deg);
    }

    .card__side--back {
      transform: rotateY(0);
    }
  }

  &__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #f0f0f0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    text-align: center;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}
